flows.json
[
    {
        "id": "a16294429da1a7c8",
        "type": "tab",
        "label": "Charger OCPP Server ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6188308f3c95aaa",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fc8686af.48d178",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "188acf5b321aefdb",
        "type": "mqtt-broker",
        "name": "Charger-Everest",
        "broker": "13.212.96.166",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7140803fb3989089",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "EVerest",
                "default": "#4B7930",
                "baseColor": "#2a62ac",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#2a62ac",
                    "value": "#2a62ac",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2a62ac",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4f88d4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2a62ac",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "EVerest",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "84ddb762.5129f8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "427a83e7f6d33afc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50c487c1.27e508",
        "type": "ui_tab",
        "name": "Debug",
        "icon": "fa-fire",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3ada9fa4cf6ac53",
        "type": "ui_tab",
        "name": "Home-EVSE-Manager",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3c7214a9dd24b0ad",
        "type": "ui_tab",
        "name": "EVSE Configuration",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5e36140d.127f1c",
        "type": "ui_group",
        "name": "PowerMeter",
        "tab": "50c487c1.27e508",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ebbb0e3f.53fbf",
        "type": "ui_group",
        "name": "Actions",
        "tab": "50c487c1.27e508",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1709edaf.162962",
        "type": "ui_group",
        "name": "Debug",
        "tab": "50c487c1.27e508",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8d6f402b.8f007",
        "type": "ui_group",
        "name": "KeepAlive",
        "tab": "50c487c1.27e508",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ebee360.265b5d",
        "type": "ui_group",
        "name": "PowerMeter",
        "tab": "50c487c1.27e508",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d3f19d5c.593e5",
        "type": "ui_group",
        "name": "State",
        "tab": "50c487c1.27e508",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b364f7eb4621082b",
        "type": "ui_group",
        "name": "Charger AC (1)",
        "tab": "d3ada9fa4cf6ac53",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cd2ccabb1265f7a",
        "type": "ui_group",
        "name": "RFID",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "21e40a4a97a50168",
        "type": "ui_group",
        "name": "Charger AC (2) ",
        "tab": "d3ada9fa4cf6ac53",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d069d652eb3a589d",
        "type": "ui_group",
        "name": "Charger DC (3) - Unidirectional",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2223c2c6e5b2630",
        "type": "ui_group",
        "name": "DC-Charger (4) Unidirectional",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f89e7e8da7ec9dd",
        "type": "ui_group",
        "name": "DC-Charger (5) Bidirectional",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "767c9c0cfad7e2e6",
        "type": "mqtt-broker",
        "name": "Charger Simulator (OC)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "41a20cdc02364816",
        "type": "mqtt-broker",
        "name": "Charger Simulator (SIEMENS)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "68295a66871c82c1",
        "type": "mqtt-broker",
        "name": "Charger Simulator (ABB)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "898d4a6f508dc31f",
        "type": "mqtt-broker",
        "name": "Charger Simulator (OVOMALTIN)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ce645f99.d179",
        "type": "mqtt-broker",
        "name": "Charger Simulator (SCHNEIDER ELECTRIC)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5c6a7736103d5766",
        "type": "ocpp-remotej-cp",
        "name": "",
        "cbId": "OC",
        "ocppver": "1.6j"
    },
    {
        "id": "843f0a3e17711dc3",
        "type": "ocpp-remotej-cp",
        "name": "",
        "cbId": "ABB",
        "ocppver": "1.6j"
    },
    {
        "id": "d13a42d36bc404d4",
        "type": "ocpp-remotej-cp",
        "name": "",
        "cbId": "Schneider Electric",
        "ocppver": "1.6j"
    },
    {
        "id": "72134ebd6c1a8d51",
        "type": "ocpp-remotej-cp",
        "name": "",
        "cbId": "Ovomaltin",
        "ocppver": "1.6j"
    },
    {
        "id": "28e3b2f2cd62d071",
        "type": "ocpp-remotej-cp",
        "name": "",
        "cbId": "SIEMENS",
        "ocppver": "1.6j"
    },
    {
        "id": "49f09febb8470e50",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "all message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 400,
        "wires": []
    },
    {
        "id": "95d060f96c19b455",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "OCPP CS Command Switch",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BootNotification",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Authorize",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Heartbeat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "StatusNotification",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MeterValues",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "StartTransaction",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "StopTransaction",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "c18753a51789bcef",
                "5fd7fa6f1ebf3430"
            ],
            [
                "183ef6893b3f8621",
                "e19cd98d975f514c"
            ],
            [
                "daecd452569ede7a",
                "e860712fd0ec6a37"
            ],
            [
                "3bff51fdc6d12317",
                "163c434f86acbb77",
                "67e879612f2be178"
            ],
            [
                "6bcd308623561e58",
                "3bff51fdc6d12317"
            ],
            [
                "9c7fe50e686cf763",
                "ed01d9996eeff9fa",
                "04524be9b39e4943"
            ],
            [
                "183ef6893b3f8621",
                "9b8751a2f71f6ab0",
                "64fc20a1ad0d9bae"
            ],
            []
        ]
    },
    {
        "id": "c18753a51789bcef",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "BootNotification",
        "func": "msg.payload = {\n    interval: 120,\n    currentTime: new Date().toISOString(),\n    status: \"Accepted\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 40,
        "wires": [
            [
                "b181aa6ce9d16eab"
            ]
        ]
    },
    {
        "id": "9c7fe50e686cf763",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Start Transaction",
        "func": "msg.payload = {\n    idTagInfo: {\n        status: \"Accepted\",\n    },\n    transactionId: getRndInteger(0,100000) //this is to response with the transaction id\n}\nreturn msg;\n\nfunction getRndInteger(min, max) {\n    return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1131,
        "y": 204,
        "wires": [
            [
                "b181aa6ce9d16eab"
            ]
        ]
    },
    {
        "id": "9b8751a2f71f6ab0",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Stop Transaction",
        "func": "msg.payload = { idTagInfo: { status: \"Accepted\"} };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1151,
        "y": 244,
        "wires": [
            [
                "b181aa6ce9d16eab"
            ]
        ]
    },
    {
        "id": "daecd452569ede7a",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Heartbeat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.currentTime",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 118,
        "wires": [
            [
                "b181aa6ce9d16eab",
                "180de4bc71b28082"
            ]
        ]
    },
    {
        "id": "183ef6893b3f8621",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Generic Status=Accepted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"idTagInfo\":{\"status\":\"Accepted\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 80,
        "wires": [
            [
                "b181aa6ce9d16eab"
            ]
        ]
    },
    {
        "id": "3bff51fdc6d12317",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Generic Return",
        "rules": [
            {
                "t": "set",
                "p": "ocpp.data",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"Accepted - Status Notifications\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 160,
        "wires": [
            [
                "b181aa6ce9d16eab"
            ]
        ]
    },
    {
        "id": "a3ba957c77e905d7",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "OCPP Central System Server",
        "info": "Change the port address and paths to meet your needs.\nThis is a very basic (does represent a fully functional CS) example",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "73a8214f41c65b5f",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "Debug all incoming msgs",
        "info": "",
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "daa963f7595f878d",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "Sending msg back to the cp",
        "info": "",
        "x": 1541,
        "y": 64,
        "wires": []
    },
    {
        "id": "74ba54d6a5c219f4",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Boot Notification",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 620,
        "wires": []
    },
    {
        "id": "5fd7fa6f1ebf3430",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Boot Notification",
        "func": "msg.payload ={\n\n    \"Charge Box Id\": msg.ocpp.chargeBoxIdentity,\n    \"Command\": msg.payload.command,\n    \"Charge Point Vendor\": msg.payload.data.chargePointVendor,\n    \"Charge Point Model\": msg.payload.data.chargePointModel,\n    // \"Energy Active Import Register\": msg.payload.data.values[0].values[0].value,\n    // \"SoC\": msg.payload.data.values[0].values[1].value,\n    \"Connection\" : \"ONLINE\",\n    \"Status\": \"Available\" \n\n    // \"Model\": msg.payload.data.chargePointModel,\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 660,
        "wires": [
            [
                "74ba54d6a5c219f4",
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "e19cd98d975f514c",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Authorize",
        "func": "msg.payload ={\n\n    \"Charge Box Id\": msg.ocpp.chargeBoxIdentity,\n    \"Command\": msg.payload.command,\n    // \"Status\": msg.payload.data.status,\n    \"Id Tag Authorization\": msg.payload.data.idTag,\n    // \"Energy Active Import Register\": msg.payload.data.values[0].values[0].value,\n    // \"SoC\": msg.payload.data.values[0].values[1].value,\n\n    // \"Model\": msg.payload.data.chargePointModel,\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 720,
        "wires": [
            [
                "3b7998467fdaca41",
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "3b7998467fdaca41",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Authorize",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 680,
        "wires": []
    },
    {
        "id": "e860712fd0ec6a37",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Heartbeat",
        "func": "msg.payload ={\n\n    \"Charge Box Id\": msg.ocpp.chargeBoxIdentity,\n    \"Command\": msg.payload.command,\n    \"Connectivity\": \"Healthy\",\n    \"Connection\": \"ONLINE\",\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 380,
        "wires": [
            [
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "81f668caf8057c36",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Heartbeat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 260,
        "wires": []
    },
    {
        "id": "163c434f86acbb77",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Status Notifications",
        "func": "msg.payload ={\n\n    \"Charge Box Id\": msg.ocpp.chargeBoxIdentity,\n    \"Command\": msg.payload.command,\n    \"Status\": msg.payload.data.status,\n    // \"Id Tag\": msg.payload.data.idTag,\n    // \"Energy Active Import Register\": msg.payload.data.values[0].values[0].value,\n    // \"SoC\": msg.payload.data.values[0].values[1].value,\n\n    // \"Model\": msg.payload.data.chargePointModel,\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 840,
        "wires": [
            [
                "49b2d7beed6e078c",
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "49b2d7beed6e078c",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Status Notification",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 840,
        "wires": []
    },
    {
        "id": "507fc65891925c67",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Meter Values",
        "func": "msg.payload = {\n    // \"Status\": msg.payload.data.status,\n    // \"Id Tag\": msg.payload.data.idTag,\n    \"Energy Active Import Register\": msg.payload[\"Energy Import\"][0].value,\n    \"SoC\": msg.payload[\"Energy Import\"][1].value\n    // \"Model\": msg.payload.data.chargePointModel,\n\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 920,
        "wires": [
            [
                "671589e9a433343b",
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "671589e9a433343b",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Meter Values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 920,
        "wires": []
    },
    {
        "id": "ed01d9996eeff9fa",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Start Transaction Flow Var",
        "func": "msg.payload ={\n\n    \"Charge Box Id\": msg.ocpp.chargeBoxIdentity,\n    \"Command\": msg.payload.command,\n    // all data for one command\n    \"Connector Id\": msg.payload.data.connectorId,\n    \"Id Tag\": msg.payload.data.idTag,\n    // \"Transaction Id\": msg.payload.data.transactionId,\n    \"Start Time\": msg.payload.data.timestamp,\n    \"Meter Start\": msg.payload.data.meterStart,\n    // \"Meter Start Final\": msg.payload.data.meterStart,\n    // \"Status\": \"Charging\",\n\n\n    // \"Model\": msg.payload.data.chargePointModel,\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1160,
        "wires": [
            [
                "acbad4e6fcf43821",
                "46290f7f481da726"
            ]
        ]
    },
    {
        "id": "acbad4e6fcf43821",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Start Transaction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 1100,
        "wires": []
    },
    {
        "id": "64fc20a1ad0d9bae",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Stop & Combine Data Transaction",
        "func": "msg.payload ={\n\n    \"Charge Box Id\": msg.ocpp.chargeBoxIdentity,\n    \"Command\": msg.payload.command,\n    // \"Id Tag\": msg.payload.data.idTag,\n    \"Transaction Id\": msg.payload.data.transactionId,\n    \"Stop Time\": msg.payload.data.timestamp,\n    \"Meter Stop\": msg.payload.data.meterStop,\n    // \"Energy Used\": msg.payload.data.meterStop - msg.payload.data.meterStart,\n    \"Energy Active Import Register\": 0,\n    // \"SoC Final\": msg.payload.data.values[0].values[1].value\n    \"Status\": \"Available\",\n    \"Remote-Start\": \"false\",\n\n    // \"Model\": msg.payload.data.chargePointModel,\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1220,
        "wires": [
            [
                "36997f840f6a2a77",
                "6eeae951e1ac60b9",
                "0c7bfb83f88a358f"
            ]
        ]
    },
    {
        "id": "36997f840f6a2a77",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Stop Transaction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 1180,
        "wires": []
    },
    {
        "id": "336f492f36eaccf7",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "Charge Point Commands to Server",
        "info": "",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "46290f7f481da726",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Set Start Transaction - Flow Var",
        "rules": [
            {
                "t": "set",
                "p": "StartTransaction",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Variables Of Start Transaction Has Been Set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 1060,
        "wires": [
            [
                "9b1484d9a94d6222"
            ]
        ]
    },
    {
        "id": "9b1484d9a94d6222",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Set Start Transaction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6eeae951e1ac60b9",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Set Stop Transaction - Flow Var",
        "rules": [
            {
                "t": "set",
                "p": "StopTransaction",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Variables Of Stop Transaction Has Been Set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 1140,
        "wires": [
            [
                "35fd550f9e204728"
            ]
        ]
    },
    {
        "id": "35fd550f9e204728",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Set Stop Transaction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0eaecf3eb017d0f8",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Add All Flows Variables",
        "func": "// Initialize an empty object to store the combined data\nvar combinedData = {};\n\n// Loop through each flow variable and merge the data into the combined object\nfor (var i = 0; i < flow.keys().length; i++) {\n    var key = flow.keys()[i];\n    var data = flow.get(key);\n    for (var subkey in data) {\n        combinedData[subkey] = data[subkey];\n    }\n}\n\n// Assign the combined data to msg.payload and return the modified message\nmsg.payload = combinedData;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 960,
        "wires": [
            [
                "e41a883952b4617d",
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "ad140866142e5884",
        "type": "inject",
        "z": "a16294429da1a7c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1820,
        "y": 960,
        "wires": [
            [
                "0eaecf3eb017d0f8"
            ]
        ]
    },
    {
        "id": "e41a883952b4617d",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Combine All Flow Variables",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2340,
        "y": 960,
        "wires": []
    },
    {
        "id": "df5b73d930804b3d",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Set Meter Values - Flow Var",
        "rules": [
            {
                "t": "set",
                "p": "MeterValues",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Variables Of Meter Values Has Been Set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 960,
        "wires": [
            [
                "263b48b12cd5de7d"
            ]
        ]
    },
    {
        "id": "263b48b12cd5de7d",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "Set Meter Values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 940,
        "wires": []
    },
    {
        "id": "8fd0fdcdcd93a171",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Meter Values Final",
        "func": "msg.payload ={\n    // \"Status\": msg.payload.data.status,\n    // \"Id Tag\": msg.payload.data.idTag,\n    \"Energy Active Import Register Final\": msg.payload[\"Energy Import\"][0].value,\n    \"SoC Final\": msg.payload[\"Energy Import\"][1].value\n    // \"Model\": msg.payload.data.chargePointModel,\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1000,
        "wires": [
            [
                "df5b73d930804b3d"
            ]
        ]
    },
    {
        "id": "180de4bc71b28082",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 180,
        "wires": []
    },
    {
        "id": "c62c7e87f12bea34",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Route based on different CP ID",
        "property": "ocpp.chargeBoxIdentity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Exicom-Three-Phase",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Exicom-Single-Phase",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ABB",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Schneider Electric",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ovomaltin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SIEMENS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 1870,
        "y": 660,
        "wires": [
            [],
            [],
            [
                "e892babdcb4beaeb"
            ],
            [
                "0f031cb220400bdc"
            ],
            [
                "d8c753cd7c6ff829"
            ],
            [
                "a109eca73dacbae1"
            ],
            [
                "47bc462defb3a189"
            ]
        ]
    },
    {
        "id": "0c7bfb83f88a358f",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "date",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1780,
        "y": 1040,
        "wires": [
            [
                "0eaecf3eb017d0f8",
                "0502903f487ff3a8"
            ]
        ]
    },
    {
        "id": "0502903f487ff3a8",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1900,
        "y": 1140,
        "wires": [
            [
                "0c7bfb83f88a358f"
            ]
        ]
    },
    {
        "id": "04524be9b39e4943",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Send Charging TX",
        "func": "msg.payload ={\n\n    // \"Charge Box Id\": msg.ocpp.chargeBoxIdentity,\n    // \"Command\": msg.payload.command,\n    // all data for one command\n    // \"Connector Id\": msg.payload.data.connectorId,\n    // \"Id Tag\": msg.payload.data.idTag,\n    // \"Transaction Id\": msg.payload.data.transactionId,\n    // \"Start Time\": msg.payload.data.timestamp,\n    // \"Meter Start\": msg.payload.data.meterStart,\n    // \"Meter Start Final\": msg.payload.data.meterStart,\n    \"Status\": \"Charging\",\n    \"Remote-Start\": \"true\",\n\n\n    // \"Model\": msg.payload.data.chargePointModel,\n\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "67e879612f2be178",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Check Status",
        "property": "payload.data.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Charging",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Available",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 780,
        "wires": [
            [
                "c880a50405b10a49"
            ],
            [
                "b8a0ee3e687bbf7e"
            ]
        ]
    },
    {
        "id": "c880a50405b10a49",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Remote Start True",
        "func": "msg.payload ={\n\n    \"Remote-Start\": \"true\",\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 760,
        "wires": [
            [
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "b8a0ee3e687bbf7e",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Remote Start false",
        "func": "msg.payload ={\n\n    \"Remote-Start\": \"false\",\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 800,
        "wires": [
            [
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "e892babdcb4beaeb",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "Charger Simulator (OC)",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "767c9c0cfad7e2e6",
        "x": 2250,
        "y": 340,
        "wires": []
    },
    {
        "id": "6bcd308623561e58",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Access Meter Values Payload",
        "func": "msg.payload={\n    \"Energy Import\": msg.payload.data.meterValue[0].sampledValue\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 920,
        "wires": [
            [
                "030b75c2a527a655",
                "8fd0fdcdcd93a171",
                "507fc65891925c67"
            ]
        ]
    },
    {
        "id": "030b75c2a527a655",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 960,
        "wires": []
    },
    {
        "id": "47bc462defb3a189",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "Charger Simulator (SIEMENS)",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a20cdc02364816",
        "x": 2290,
        "y": 580,
        "wires": []
    },
    {
        "id": "0f031cb220400bdc",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "Charger Simulator (ABB)",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "68295a66871c82c1",
        "x": 2270,
        "y": 400,
        "wires": []
    },
    {
        "id": "a109eca73dacbae1",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "Charger Simulator (OVOMALTIN)",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "898d4a6f508dc31f",
        "x": 2300,
        "y": 520,
        "wires": []
    },
    {
        "id": "d8c753cd7c6ff829",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "Charger Simulator (SCHNEIDER ELECTRIC)",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce645f99.d179",
        "x": 2330,
        "y": 460,
        "wires": []
    },
    {
        "id": "99e83ab39b0bb847",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Send Offline Status",
        "func": "\nif (msg.ocpp.websocket == \"OFFLINE\")\n\n{\n\nmsg.payload =\n\n{\n    \"Connection\": msg.ocpp.websocket,\n    \"Status\": \"Not Available\"\n}\n\n\n\n}\n\nelse\n{\n    msg.payload =\n    {\n    // \"Connection\": \"Online\"\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            [
                "c62c7e87f12bea34"
            ]
        ]
    },
    {
        "id": "8edb60a23c8aeaf8",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "60aff239d8443343",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "",
        "op1": "",
        "op2": "{\"Connection\":\"Offline\",\"Status\":\"Not Available\"}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "35",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1390,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "263fc03b030f8fdd",
        "type": "mqtt in",
        "z": "a16294429da1a7c8",
        "name": "Switch Button TB",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "767c9c0cfad7e2e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1420,
        "wires": [
            [
                "3483c273c0341d38",
                "83b3996d442e6010"
            ]
        ]
    },
    {
        "id": "649138317c0e47a0",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "OC",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "767c9c0cfad7e2e6",
        "x": 750,
        "y": 1560,
        "wires": []
    },
    {
        "id": "fe448f9ad36bdfbf",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Condition",
        "func": "var value, status;\n\nif (msg.payload.params == true)\n{\n    value = \"true\";\n    status = \"Charging\"\n}\n\nelse{\n    value = \"false\";\n    status = \"Available\"\n}\n\nmsg.payload = {\n    value,\n    status,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1400,
        "wires": [
            [
                "9c25f41bfd523b2a",
                "9ba69f315b1f022a",
                "2c16fb2a1467e033"
            ]
        ]
    },
    {
        "id": "99d43a7104d65e0d",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Start",
        "op1": "Charger Is ON !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 1380,
        "wires": [
            [
                "5384f3fbd8d8b1f3",
                "2fd4fa386bfc3d87",
                "7e05dcea3022374c"
            ]
        ]
    },
    {
        "id": "5384f3fbd8d8b1f3",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1460,
        "wires": [
            [
                "99d43a7104d65e0d"
            ]
        ]
    },
    {
        "id": "2fd4fa386bfc3d87",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9c25f41bfd523b2a",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Value",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 1400,
        "wires": [
            [
                "99d43a7104d65e0d"
            ],
            [
                "dc98a1471b5665bc"
            ]
        ]
    },
    {
        "id": "2c16fb2a1467e033",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "convert value to json",
        "func": "msg.payload = {\n    \"Remote-Start\": msg.payload.value,\n    \"Status\": msg.payload.status,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1480,
        "wires": [
            [
                "649138317c0e47a0"
            ]
        ]
    },
    {
        "id": "dc98a1471b5665bc",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Off",
        "op1": "Charger Is OFF !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1190,
        "y": 1560,
        "wires": [
            [
                "b6ab1dbc1f6bb3d6",
                "56904f400a58d491",
                "afb65d375b49c7bb"
            ]
        ]
    },
    {
        "id": "b6ab1dbc1f6bb3d6",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1640,
        "wires": [
            [
                "dc98a1471b5665bc"
            ]
        ]
    },
    {
        "id": "56904f400a58d491",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1520,
        "wires": []
    },
    {
        "id": "3483c273c0341d38",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9ba69f315b1f022a",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1340,
        "wires": []
    },
    {
        "id": "bc7b7b32c0c4d259",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "See Connectivity",
        "property": "OC.Connection",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 1420,
        "wires": [
            [
                "fe448f9ad36bdfbf"
            ],
            [
                "66e549e95e165de1"
            ]
        ]
    },
    {
        "id": "66e549e95e165de1",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Send False",
        "func": "msg.payload = {\n    \"Remote-Start\": \"false\",\n    // \"Status\": \"Not Available\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1500,
        "wires": [
            [
                "649138317c0e47a0"
            ]
        ]
    },
    {
        "id": "83b3996d442e6010",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Based On Method",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "settest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 1420,
        "wires": [
            [
                "bc7b7b32c0c4d259"
            ]
        ]
    },
    {
        "id": "f67b8510eea7d145",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "CP OC",
        "info": "",
        "x": 110,
        "y": 1360,
        "wires": []
    },
    {
        "id": "8a61c01fb360ef33",
        "type": "mqtt in",
        "z": "a16294429da1a7c8",
        "name": "Switch Button TB",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "68295a66871c82c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1800,
        "wires": [
            [
                "8b65c5c63c6f72e5",
                "347e5c7f92439a8a"
            ]
        ]
    },
    {
        "id": "bb885120f4b13bb0",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "ABB",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "68295a66871c82c1",
        "x": 770,
        "y": 1940,
        "wires": []
    },
    {
        "id": "ce5807dc13591661",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Condition",
        "func": "var value, status;\n\nif (msg.payload.params == true)\n{\n    value = \"true\";\n    status = \"Charging\"\n}\n\nelse{\n    value = \"false\";\n    status = \"Available\"\n}\n\nmsg.payload = {\n    value,\n    status,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1780,
        "wires": [
            [
                "0bfd3d06b6836234",
                "990dfa9ad9f6bf68",
                "c2a9af77dec0f3a7"
            ]
        ]
    },
    {
        "id": "f765db2f327f5595",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Start",
        "op1": "Charger Is ON !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1170,
        "y": 1760,
        "wires": [
            [
                "35d1fd1f58e230e2",
                "12da5342f8c16100",
                "3bfccefca65a8e94"
            ]
        ]
    },
    {
        "id": "35d1fd1f58e230e2",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1840,
        "wires": [
            [
                "f765db2f327f5595"
            ]
        ]
    },
    {
        "id": "12da5342f8c16100",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1720,
        "wires": []
    },
    {
        "id": "0bfd3d06b6836234",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Value",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 1780,
        "wires": [
            [
                "f765db2f327f5595"
            ],
            [
                "c4a37e8a7c6e1017"
            ]
        ]
    },
    {
        "id": "c2a9af77dec0f3a7",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "convert value to json",
        "func": "msg.payload = {\n    \"Remote-Start\": msg.payload.value,\n    \"Status\": msg.payload.status,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1860,
        "wires": [
            [
                "bb885120f4b13bb0"
            ]
        ]
    },
    {
        "id": "c4a37e8a7c6e1017",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Off",
        "op1": "Charger Is OFF !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 1940,
        "wires": [
            [
                "aba21a818161ad1c",
                "c67cb7df3d9afd64",
                "41fd2a429c2128d1"
            ]
        ]
    },
    {
        "id": "aba21a818161ad1c",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 2020,
        "wires": [
            [
                "c4a37e8a7c6e1017"
            ]
        ]
    },
    {
        "id": "c67cb7df3d9afd64",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 1900,
        "wires": []
    },
    {
        "id": "8b65c5c63c6f72e5",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1720,
        "wires": []
    },
    {
        "id": "990dfa9ad9f6bf68",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1720,
        "wires": []
    },
    {
        "id": "02a715af3b0ce224",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "See Connectivity",
        "property": "ABB.Connection",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 1800,
        "wires": [
            [
                "ce5807dc13591661"
            ],
            [
                "1e9d5b0339b156f7"
            ]
        ]
    },
    {
        "id": "1e9d5b0339b156f7",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Send False",
        "func": "msg.payload = {\n    \"Remote-Start\": \"false\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1880,
        "wires": [
            [
                "bb885120f4b13bb0"
            ]
        ]
    },
    {
        "id": "347e5c7f92439a8a",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Based On Method",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "settest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 1800,
        "wires": [
            [
                "02a715af3b0ce224"
            ]
        ]
    },
    {
        "id": "d634e3c83917662c",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "CP ABB",
        "info": "",
        "x": 130,
        "y": 1740,
        "wires": []
    },
    {
        "id": "9faa859cb3ee8b06",
        "type": "inject",
        "z": "a16294429da1a7c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OCconnection.Connection",
        "payloadType": "flow",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "c31b79d01b6b5b14"
            ]
        ]
    },
    {
        "id": "c31b79d01b6b5b14",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "291b67c5e98aff7e",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Route based on different CP ID",
        "property": "ocpp.chargeBoxIdentity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Exicom-Three-Phase",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Exicom-Single-Phase",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ABB",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Schneider Electric",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Ovomaltin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SIEMENS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 170,
        "y": 1060,
        "wires": [
            [],
            [],
            [
                "1d1a442ad0bed999"
            ],
            [
                "b79534e8403d1ff9"
            ],
            [
                "ac5691aed8c3e9a7"
            ],
            [
                "710b05695ac71d0b"
            ],
            [
                "ad0b85b1b34454fa"
            ]
        ]
    },
    {
        "id": "b944c0e8d1aff7b6",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "OC",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "768707d9341b0671",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Send Connection Status",
        "func": "if (msg.ocpp.websocket == \"ONLINE\")\n\n{\n\nmsg.payload =\n\n{\n    \"Connection\": msg.ocpp.websocket,\n    \"Status\": \"Available\"\n}\n\n}\n\nelse if (msg.ocpp.websocket ==\"OFFLINE\")\n{\nmsg.payload =\n    {\n    \"Connection\": \"OFFLINE\",\n    \"Status\": \"Not Available\"\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 800,
        "wires": [
            [
                "291b67c5e98aff7e"
            ]
        ]
    },
    {
        "id": "1d1a442ad0bed999",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "",
        "property": "payload.Connection",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "b944c0e8d1aff7b6"
            ],
            [
                "b944c0e8d1aff7b6"
            ]
        ]
    },
    {
        "id": "1ced499036211c5f",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ABB",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "b79534e8403d1ff9",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "",
        "property": "payload.Connection",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1080,
        "wires": [
            [
                "1ced499036211c5f"
            ],
            [
                "1ced499036211c5f"
            ]
        ]
    },
    {
        "id": "7965588a1e60d967",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SE",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "ac5691aed8c3e9a7",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "",
        "property": "payload.Connection",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "7965588a1e60d967"
            ],
            [
                "7965588a1e60d967"
            ]
        ]
    },
    {
        "id": "39d7704e8bce0c63",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "OV",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "710b05695ac71d0b",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "",
        "property": "payload.Connection",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1160,
        "wires": [
            [
                "39d7704e8bce0c63"
            ],
            [
                "39d7704e8bce0c63"
            ]
        ]
    },
    {
        "id": "52d4ffd5425aa234",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SI",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "ad0b85b1b34454fa",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "",
        "property": "payload.Connection",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1200,
        "wires": [
            [
                "52d4ffd5425aa234"
            ],
            [
                "52d4ffd5425aa234"
            ]
        ]
    },
    {
        "id": "88c6f91c07ad0702",
        "type": "mqtt in",
        "z": "a16294429da1a7c8",
        "name": "Switch Button TB",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce645f99.d179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2160,
        "wires": [
            [
                "531d33a5a2f1f0cf",
                "cebf0d81613ed714"
            ]
        ]
    },
    {
        "id": "d744ae0967efc65d",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "SCHNEIDER ELECTRIC",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce645f99.d179",
        "x": 830,
        "y": 2300,
        "wires": []
    },
    {
        "id": "5fd469a6397499ae",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Condition",
        "func": "var value, status;\n\nif (msg.payload.params == true)\n{\n    value = \"true\";\n    status = \"Charging\"\n}\n\nelse{\n    value = \"false\";\n    status = \"Available\"\n}\n\nmsg.payload = {\n    value,\n    status,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 2140,
        "wires": [
            [
                "474ee901299a270c",
                "0137aa0eecbce556",
                "e252195ae653313b"
            ]
        ]
    },
    {
        "id": "e8d77cc56d9ae202",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Start",
        "op1": "Charger Is ON !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1170,
        "y": 2120,
        "wires": [
            [
                "ac4d2502a2acdb21",
                "932aecd0170dcbf8",
                "47288cdcf1804e0c"
            ]
        ]
    },
    {
        "id": "ac4d2502a2acdb21",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2200,
        "wires": [
            [
                "e8d77cc56d9ae202"
            ]
        ]
    },
    {
        "id": "932aecd0170dcbf8",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 2080,
        "wires": []
    },
    {
        "id": "474ee901299a270c",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Value",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 2140,
        "wires": [
            [
                "e8d77cc56d9ae202"
            ],
            [
                "b41c58d2d0824476"
            ]
        ]
    },
    {
        "id": "e252195ae653313b",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "convert value to json",
        "func": "msg.payload = {\n    \"Remote-Start\": msg.payload.value,\n    \"Status\": msg.payload.status,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 2220,
        "wires": [
            [
                "d744ae0967efc65d"
            ]
        ]
    },
    {
        "id": "b41c58d2d0824476",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Off",
        "op1": "Charger Is OFF !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 2300,
        "wires": [
            [
                "daea911a7fc8ca4f",
                "e2607350e3f91390",
                "d0779a9ad246e225"
            ]
        ]
    },
    {
        "id": "daea911a7fc8ca4f",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 2380,
        "wires": [
            [
                "b41c58d2d0824476"
            ]
        ]
    },
    {
        "id": "e2607350e3f91390",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 2260,
        "wires": []
    },
    {
        "id": "531d33a5a2f1f0cf",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 2080,
        "wires": []
    },
    {
        "id": "0137aa0eecbce556",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 2080,
        "wires": []
    },
    {
        "id": "71f93471a38dc784",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "See Connectivity",
        "property": "SE.Connection",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 2160,
        "wires": [
            [
                "5fd469a6397499ae"
            ],
            [
                "5b0c9e536f03623c"
            ]
        ]
    },
    {
        "id": "5b0c9e536f03623c",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Send False",
        "func": "msg.payload = {\n    \"Remote-Start\": \"false\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2240,
        "wires": [
            [
                "d744ae0967efc65d"
            ]
        ]
    },
    {
        "id": "cebf0d81613ed714",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Based On Method",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "settest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 2160,
        "wires": [
            [
                "71f93471a38dc784"
            ]
        ]
    },
    {
        "id": "556ba1fcf3a5c5b5",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "CP Schneider Electric",
        "info": "",
        "x": 160,
        "y": 2100,
        "wires": []
    },
    {
        "id": "c070fab3642f0d44",
        "type": "mqtt in",
        "z": "a16294429da1a7c8",
        "name": "Switch Button TB",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "898d4a6f508dc31f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2520,
        "wires": [
            [
                "76aaf4580766bf05",
                "971ce8755ebedda6"
            ]
        ]
    },
    {
        "id": "7b50a3538b8eaebd",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "OVOMALTIN",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "898d4a6f508dc31f",
        "x": 790,
        "y": 2660,
        "wires": []
    },
    {
        "id": "2722bbb41c76abf7",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Condition",
        "func": "var value, status;\n\nif (msg.payload.params == true)\n{\n    value = \"true\";\n    status = \"Charging\"\n}\n\nelse{\n    value = \"false\";\n    status = \"Available\"\n}\n\nmsg.payload = {\n    value,\n    status,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 2500,
        "wires": [
            [
                "2846754b5ad2543a",
                "2f6111666ff66c0f",
                "82807491d8c3259a"
            ]
        ]
    },
    {
        "id": "18a034f2b2347e73",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Start",
        "op1": "Charger Is ON !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1170,
        "y": 2480,
        "wires": [
            [
                "dfc394eefa5e049f",
                "f4baab3d517c143f",
                "dbd359b87a4f6647"
            ]
        ]
    },
    {
        "id": "dfc394eefa5e049f",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2560,
        "wires": [
            [
                "18a034f2b2347e73"
            ]
        ]
    },
    {
        "id": "f4baab3d517c143f",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 2440,
        "wires": []
    },
    {
        "id": "2846754b5ad2543a",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Value",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 2500,
        "wires": [
            [
                "18a034f2b2347e73"
            ],
            [
                "1cfb608ddb35894c"
            ]
        ]
    },
    {
        "id": "82807491d8c3259a",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "convert value to json",
        "func": "msg.payload = {\n    \"Remote-Start\": msg.payload.value,\n    \"Status\": msg.payload.status,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 2580,
        "wires": [
            [
                "7b50a3538b8eaebd"
            ]
        ]
    },
    {
        "id": "1cfb608ddb35894c",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Off",
        "op1": "Charger Is OFF !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 2660,
        "wires": [
            [
                "07ece8c07fb0a344",
                "de6817b31d1f54a5",
                "a4ab2edef4cf299a"
            ]
        ]
    },
    {
        "id": "07ece8c07fb0a344",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 2740,
        "wires": [
            [
                "1cfb608ddb35894c"
            ]
        ]
    },
    {
        "id": "de6817b31d1f54a5",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 2620,
        "wires": []
    },
    {
        "id": "76aaf4580766bf05",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 2440,
        "wires": []
    },
    {
        "id": "2f6111666ff66c0f",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 2440,
        "wires": []
    },
    {
        "id": "adaf509b59de985b",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "See Connectivity",
        "property": "OV.Connection",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 2520,
        "wires": [
            [
                "2722bbb41c76abf7"
            ],
            [
                "75e64623215e6057"
            ]
        ]
    },
    {
        "id": "75e64623215e6057",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Send False",
        "func": "msg.payload = {\n    \"Remote-Start\": \"false\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2600,
        "wires": [
            [
                "7b50a3538b8eaebd"
            ]
        ]
    },
    {
        "id": "971ce8755ebedda6",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Based On Method",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "settest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 2520,
        "wires": [
            [
                "adaf509b59de985b"
            ]
        ]
    },
    {
        "id": "61bab94bf32cee4e",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "CP Ovomaltin",
        "info": "",
        "x": 150,
        "y": 2460,
        "wires": []
    },
    {
        "id": "e570cf99df66cb5c",
        "type": "mqtt in",
        "z": "a16294429da1a7c8",
        "name": "Switch Button TB",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a20cdc02364816",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 2920,
        "wires": [
            [
                "b12d8e7877ba7c87",
                "b60f907ea07ab85a"
            ]
        ]
    },
    {
        "id": "6f68766f24b8a2c6",
        "type": "mqtt out",
        "z": "a16294429da1a7c8",
        "name": "SIEMENS",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a20cdc02364816",
        "x": 760,
        "y": 3060,
        "wires": []
    },
    {
        "id": "8e1a9ddece6dc1ee",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Condition",
        "func": "var value, status;\n\nif (msg.payload.params == true)\n{\n    value = \"true\";\n    status = \"Charging\"\n}\n\nelse{\n    value = \"false\";\n    status = \"Available\"\n}\n\nmsg.payload = {\n    value,\n    status,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 2900,
        "wires": [
            [
                "cb26c54cdc84ab20",
                "28cfb6960b327d6d",
                "6885661e715976d6"
            ]
        ]
    },
    {
        "id": "94220c4cc511c5af",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Start",
        "op1": "Charger Is ON !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 2880,
        "wires": [
            [
                "3014d3d333234647",
                "a8c79e2bd19ffa9a",
                "68c908f299caf530"
            ]
        ]
    },
    {
        "id": "3014d3d333234647",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 2960,
        "wires": [
            [
                "94220c4cc511c5af"
            ]
        ]
    },
    {
        "id": "a8c79e2bd19ffa9a",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 59",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 2840,
        "wires": []
    },
    {
        "id": "cb26c54cdc84ab20",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Value",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 2900,
        "wires": [
            [
                "94220c4cc511c5af"
            ],
            [
                "8e9161bc08e3e1b9"
            ]
        ]
    },
    {
        "id": "6885661e715976d6",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "convert value to json",
        "func": "msg.payload = {\n    \"Remote-Start\": msg.payload.value,\n    \"Status\": msg.payload.status,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2980,
        "wires": [
            [
                "6f68766f24b8a2c6"
            ]
        ]
    },
    {
        "id": "8e9161bc08e3e1b9",
        "type": "trigger",
        "z": "a16294429da1a7c8",
        "name": "Remote Off",
        "op1": "Charger Is OFF !!",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1190,
        "y": 3060,
        "wires": [
            [
                "bddd31fd5a045218",
                "ea654b6f1838e57e",
                "324b3abae327767c"
            ]
        ]
    },
    {
        "id": "bddd31fd5a045218",
        "type": "change",
        "z": "a16294429da1a7c8",
        "name": "Reset the trigger node",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 3140,
        "wires": [
            [
                "8e9161bc08e3e1b9"
            ]
        ]
    },
    {
        "id": "ea654b6f1838e57e",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 60",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 3020,
        "wires": []
    },
    {
        "id": "b12d8e7877ba7c87",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 61",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 2840,
        "wires": []
    },
    {
        "id": "28cfb6960b327d6d",
        "type": "debug",
        "z": "a16294429da1a7c8",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 2840,
        "wires": []
    },
    {
        "id": "4526730e3d7d26dc",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "See Connectivity",
        "property": "SI.Connection",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ONLINE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFFLINE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 2920,
        "wires": [
            [
                "8e1a9ddece6dc1ee"
            ],
            [
                "3fff42b5529152ae"
            ]
        ]
    },
    {
        "id": "3fff42b5529152ae",
        "type": "function",
        "z": "a16294429da1a7c8",
        "name": "Send False",
        "func": "msg.payload = {\n    \"Remote-Start\": \"false\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3000,
        "wires": [
            [
                "6f68766f24b8a2c6"
            ]
        ]
    },
    {
        "id": "b60f907ea07ab85a",
        "type": "switch",
        "z": "a16294429da1a7c8",
        "name": "Based On Method",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "settest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 2920,
        "wires": [
            [
                "4526730e3d7d26dc"
            ]
        ]
    },
    {
        "id": "cb39745ec01bcb56",
        "type": "comment",
        "z": "a16294429da1a7c8",
        "name": "CP SIEMENS",
        "info": "",
        "x": 130,
        "y": 2860,
        "wires": []
    },
    {
        "id": "8790bc184df7faa5",
        "type": "CS server",
        "z": "a16294429da1a7c8",
        "name": "CentralSystem@8010",
        "port": "8010",
        "enabled15": false,
        "path15": "/ocpp15s",
        "enabled16": false,
        "path16": "/ocpp16s",
        "enabled16j": true,
        "path16j": "/OCPP16/63c937b82b1ed7174101f323/65196eee7825db6b0d92338e",
        "log": false,
        "pathlog": "c:\\Users\\User\\OCPP__.log",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "49f09febb8470e50",
                "95d060f96c19b455",
                "99e83ab39b0bb847",
                "768707d9341b0671"
            ]
        ]
    },
    {
        "id": "b181aa6ce9d16eab",
        "type": "server response",
        "z": "a16294429da1a7c8",
        "name": "",
        "x": 1421,
        "y": 124,
        "wires": []
    },
    {
        "id": "7e05dcea3022374c",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "5c6a7736103d5766",
        "command": "RemoteStartTransaction",
        "cmddata": "{\"connectorId\":1,\"idTag\":\"12345678\"}",
        "log": true,
        "pathlog": "",
        "x": 1430,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "afb65d375b49c7bb",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "5c6a7736103d5766",
        "command": "RemoteStopTransaction",
        "cmddata": "{\"transactionId\": \"Dont Know\"}",
        "log": true,
        "pathlog": "",
        "x": 1430,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "3bfccefca65a8e94",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "843f0a3e17711dc3",
        "command": "RemoteStartTransaction",
        "cmddata": "{\"connectorId\":1,\"idTag\":\"12345678\"}",
        "log": true,
        "pathlog": "",
        "x": 1450,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "41fd2a429c2128d1",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "843f0a3e17711dc3",
        "command": "RemoteStopTransaction",
        "cmddata": "{\"transactionId\": \"Dont Know\"}",
        "log": true,
        "pathlog": "",
        "x": 1450,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "47288cdcf1804e0c",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "d13a42d36bc404d4",
        "command": "RemoteStartTransaction",
        "cmddata": "{\"connectorId\":1,\"idTag\":\"12345678\"}",
        "log": true,
        "pathlog": "",
        "x": 1490,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "d0779a9ad246e225",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "d13a42d36bc404d4",
        "command": "RemoteStopTransaction",
        "cmddata": "{\"transactionId\": \"Dont Know\"}",
        "log": true,
        "pathlog": "",
        "x": 1490,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "dbd359b87a4f6647",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "72134ebd6c1a8d51",
        "command": "RemoteStartTransaction",
        "cmddata": "{\"connectorId\":1,\"idTag\":\"12345678\"}",
        "log": true,
        "pathlog": "",
        "x": 1460,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "a4ab2edef4cf299a",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "72134ebd6c1a8d51",
        "command": "RemoteStopTransaction",
        "cmddata": "{\"transactionId\": \"Dont Know\"}",
        "log": true,
        "pathlog": "",
        "x": 1460,
        "y": 2660,
        "wires": [
            []
        ]
    },
    {
        "id": "68c908f299caf530",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "28e3b2f2cd62d071",
        "command": "RemoteStartTransaction",
        "cmddata": "{\"connectorId\":1,\"idTag\":\"12345678\"}",
        "log": true,
        "pathlog": "",
        "x": 1440,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "324b3abae327767c",
        "type": "CS request JSON",
        "z": "a16294429da1a7c8",
        "name": "",
        "remotecb": "28e3b2f2cd62d071",
        "command": "RemoteStopTransaction",
        "cmddata": "{\"transactionId\": \"Dont Know\"}",
        "log": true,
        "pathlog": "",
        "x": 1440,
        "y": 3060,
        "wires": [
            []
        ]
    }
]